
.label {
	-fx-text-fill: #eceff1;
}
.label-dark {
	-fx-text-fill: #263238;
}
.button {
	-fx-text-fill: #eceff1;
	-fx-background-color: #263238;
}
.pane {
	-fx-background-color: #263238;
}
.anchor-pane {
	-fx-background-color: #FF9800;
}

